html {
	height: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: whitesmoke;
}

footer {
	margin-top: auto;
}
